<button mat-button style="width: 50%;background-color: #61a653;color: white" *ngIf="!this.isFriday" (click)="this.change()">Friday</button>
<button mat-button style="width: 50%;background-color: white;color: #61a653" *ngIf="this.isFriday">Friday</button>
<button mat-button style="width: 50%;background-color: #61a653;color: white" *ngIf="this.isFriday" (click)="this.change()">Saturday</button>
<button mat-button style="width: 50%;background-color: white;color: #61a653" *ngIf="!this.isFriday">Saturday</button>
<mat-accordion *ngIf="this.isFriday">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          13:00
        </mat-panel-title>
        <mat-panel-description>
          Opening
        </mat-panel-description>
    </mat-expansion-panel-header>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      13:10
    </mat-panel-title>
    <mat-panel-description>
      Développez avec Azure comme Spiderman
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-grid-list cols="2" rowHeight="5:1">
    <mat-grid-tile [rowspan]="5">
      <img src="../../assets/DenisVoituron.jpg" style="height: 100%;">
    </mat-grid-tile>
    <mat-grid-tile>
      Denis Voituron
    </mat-grid-tile>
    <mat-grid-tile>
      Microsoft MVP
    </mat-grid-tile>
    <mat-grid-tile>
      Github: <a href="https://github.com/dvoituron">@dvoituron</a>
    </mat-grid-tile>
    <mat-grid-tile>
      Website: <a href="https://www.dvoituron.be/">Blog</a>
    </mat-grid-tile>
    <mat-grid-tile>
      Twitter: <a href="https://twitter.com/denisvoituron">@denisvoituron</a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        13:45
      </mat-panel-title>
      <mat-panel-description>
        .NET Core, l'essayer c'est l'adopter
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile [rowspan]="5">
          <img src="../../assets/AdrienClerbois.jpg" style="height: 100%;">
        </mat-grid-tile>
        <mat-grid-tile>
          Adrien Clerbois
        </mat-grid-tile>
        <mat-grid-tile>
          Microsoft MVP
        </mat-grid-tile>
        <mat-grid-tile>
          Github: <a href="https://github.com/aclerbois">@aclerbois</a>
        </mat-grid-tile>
        <mat-grid-tile>
          Website: <a href="https://www.aclerbois.be/">Blog</a>
        </mat-grid-tile>
        <mat-grid-tile>
          Twitter: <a href="https://twitter.com/AClerbois">@AClerbois</a>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          14:20
        </mat-panel-title>
        <mat-panel-description>
          Break
        </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          14:30
        </mat-panel-title>
        <mat-panel-description>
          Vue.JS: New Generation
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile [rowspan]="5">
          <img src="../../assets/AurelienLoyer.jpg" style="height: 100%;">
        </mat-grid-tile>
        <mat-grid-tile>
          Aurélien Loyer
        </mat-grid-tile>
        <mat-grid-tile>
          Software Engineer at ZenikaLille
        </mat-grid-tile>
        <mat-grid-tile>
          Github: <a href="https://github.com/T3kstiil3">@T3kstiil3</a>
        </mat-grid-tile>
        <mat-grid-tile>
          Website: <a href="https://aurelien-loyer.fr/">Blog</a>
        </mat-grid-tile>
        <mat-grid-tile>
          Twitter: <a href="https://twitter.com/aurelienloyer">@AurelienLoyer</a>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="5">
          <img src="../../assets/EmmanuelDemey.jpg" style="height: 100%;">
        </mat-grid-tile>
        <mat-grid-tile>
          Emmanuel Demey
        </mat-grid-tile>
        <mat-grid-tile>
          Developer Advocate at ZenikaLille
        </mat-grid-tile>
        <mat-grid-tile>
          Github: <a href="https://github.com/EmmanuelDemey">@EmmanuelDemey</a>
        </mat-grid-tile>
        <mat-grid-tile>
          Twitter: <a href="https://twitter.com/EmmanuelDemey">@EmmanuelDemey</a>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        15:05
      </mat-panel-title>
      <mat-panel-description>
        Learn Angular like The Flash
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile [rowspan]="5">
          <img src="../../assets/DavidGilson.jpg" style="height: 100%;">
        </mat-grid-tile>
        <mat-grid-tile>
          David Gilson
        </mat-grid-tile>
        <mat-grid-tile>
          Software Developer at Ingenico
        </mat-grid-tile>
        <mat-grid-tile>
          Github: <a href="https://github.com/gilsdav">@gilsdav</a>
        </mat-grid-tile>
      </mat-grid-list>
</mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          15:40
        </mat-panel-title>
        <mat-panel-description>
          Break
        </mat-panel-description>
      </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          15:50
        </mat-panel-title>
        <mat-panel-description>
          Change/Save the world with Azure Functions
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile [rowspan]="5">
            <img src="../../assets/PatrickGrasseels.jpg" style="height: 100%;">
          </mat-grid-tile>
          <mat-grid-tile>
            Patrick Grasseels
          </mat-grid-tile>
          <mat-grid-tile>
            C# Developer & Architect at Ingenico
          </mat-grid-tile>
          <mat-grid-tile>
            Twitter: <a href="https://twitter.com/pgrasseels">@pgrasseels</a>
          </mat-grid-tile>
        </mat-grid-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          16:25
        </mat-panel-title>
        <mat-panel-description>
          How to kick start an Ethereum Blockchain application?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile [rowspan]="5">
            <img src="../../assets/JulienMarlair.jpg" style="height: 100%;">
          </mat-grid-tile>
          <mat-grid-tile>
            Julien Marlair
          </mat-grid-tile>
          <mat-grid-tile>
            Innovation Manager at Proximus
          </mat-grid-tile>
          <mat-grid-tile>
            Github: <a href="https://github.com/jmarlair">@jmarlair</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Website: <a href="https://www.enco.io/">Enco.io</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Twitter: <a href="https://twitter.com/jmarlair">@jmarlair</a>
          </mat-grid-tile>
        </mat-grid-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          17:00
        </mat-panel-title>
        <mat-panel-description>
          Break
        </mat-panel-description>
      </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          17:10
        </mat-panel-title>
        <mat-panel-description>
          Comment reproduire l'AI de Person Of Interest facilement
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile [rowspan]="5">
            <img src="../../assets/NathanPire.jpg" style="height: 100%;">
          </mat-grid-tile>
          <mat-grid-tile>
            Nathan Pire
          </mat-grid-tile>
          <mat-grid-tile>
            Developer Evangelist at micbelgique
          </mat-grid-tile>
          <mat-grid-tile>
            Github: <a href="https://github.com/thelittlewozniak">@thelittlewozniak</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Website: <a href="https://thelittlewozniak.com/">blog</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Twitter: <a href="https://twitter.com/nathanpire">@nathanpire</a>
          </mat-grid-tile>
        </mat-grid-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          17:45
        </mat-panel-title>
        <mat-panel-description>
          Getting started In VR
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile [rowspan]="5">
            <img src="../../assets/ThibaultGayraud.jpg" style="height: 100%;">
          </mat-grid-tile>
          <mat-grid-tile>
            Thibaud Gayraud
          </mat-grid-tile>
          <mat-grid-tile>
            Unity Game Developer
          </mat-grid-tile>
          <mat-grid-tile>
            Website: <a href="https://www.awkwardnaut.com/">blog</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Twitter: <a href="https://twitter.com/AwkwardnautPlay">@AwkwardnautPlay</a>
          </mat-grid-tile>
        </mat-grid-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          18:20
        </mat-panel-title>
        <mat-panel-description>
          Donnez du sens à votre prototypage
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile [rowspan]="5">
            <img src="../../assets/FredericCarbonnelle.jpg" style="height: 100%;">
          </mat-grid-tile>
          <mat-grid-tile>
            Frédéric Carbonnelle
          </mat-grid-tile>
          <mat-grid-tile>
            Developer Evangelist at micbelgique
          </mat-grid-tile>
          <mat-grid-tile>
            Twitter: <a href="https://twitter.com/fcarbonnelle">@fcarbonnelle</a>
          </mat-grid-tile>
        </mat-grid-list>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion *ngIf="!this.isFriday">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            11:00
          </mat-panel-title>
          <mat-panel-description>
            L'impression 3D: 4 étapes essentielles
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="2" rowHeight="5:1">
            <mat-grid-tile [rowspan]="5">
              <img src="../../assets/YvesLecocq.png" style="height: 100%;">
            </mat-grid-tile>
            <mat-grid-tile>
              Yves Lecocq
            </mat-grid-tile>
            <mat-grid-tile>
              3D Specialist
            </mat-grid-tile>
          </mat-grid-list>
      </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          13:00
        </mat-panel-title>
        <mat-panel-description>
          Opening
        </mat-panel-description>
    </mat-expansion-panel-header>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      13:10
    </mat-panel-title>
    <mat-panel-description>
      Simple is not easy: Clean Code
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-grid-list cols="2" rowHeight="5:1">
      <mat-grid-tile [rowspan]="5">
        <img src="../../assets/MathieuScolas.jpg" style="height: 100%;transform: rotate(-90deg)">
      </mat-grid-tile>
      <mat-grid-tile>
        Mathieu Scolas
      </mat-grid-tile>
      <mat-grid-tile>
        Developer
      </mat-grid-tile>
      <mat-grid-tile>
        Github: <a href="https://github.com/worming004">@worming004</a>
      </mat-grid-tile>
      <mat-grid-tile>
        Twitter: <a href="https://twitter.com/Worming4">@Worming4</a>
      </mat-grid-tile>
    </mat-grid-list>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        13:45
      </mat-panel-title>
      <mat-panel-description>
        Angular VS Blazor
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile [rowspan]="5">
          <img src="../../assets/DavidGilson.jpg" style="height: 100%;">
        </mat-grid-tile>
        <mat-grid-tile>
          David Gilson
        </mat-grid-tile>
        <mat-grid-tile>
          Software Developer at Ingenico
        </mat-grid-tile>
        <mat-grid-tile>
          Github: <a href="https://github.com/gilsdav">@gilsdav</a>
        </mat-grid-tile>
      </mat-grid-list>
      <br>
      <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile [rowspan]="5">
            <img src="../../assets/PatrickGrasseels.jpg" style="height: 100%;">
          </mat-grid-tile>
          <mat-grid-tile>
            Patrick Grasseels
          </mat-grid-tile>
          <mat-grid-tile>
            C# Developer & Architect at Ingenico
          </mat-grid-tile>
          <mat-grid-tile>
            Twitter: <a href="https://twitter.com/pgrasseels">@pgrasseels</a>
          </mat-grid-tile>
        </mat-grid-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          14:20
        </mat-panel-title>
        <mat-panel-description>
          Break
        </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          14:30
        </mat-panel-title>
        <mat-panel-description>
          Azure Devops: le saint graal pour les devs
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile [rowspan]="5">
            <img src="../../assets/DenisVoituron.jpg" style="height: 100%;">
          </mat-grid-tile>
          <mat-grid-tile>
            Denis Voituron
          </mat-grid-tile>
          <mat-grid-tile>
            Microsoft MVP
          </mat-grid-tile>
          <mat-grid-tile>
            Github: <a href="https://github.com/dvoituron">@dvoituron</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Website: <a href="https://www.dvoituron.be/">Blog</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Twitter: <a href="https://twitter.com/denisvoituron">@denisvoituron</a>
          </mat-grid-tile>
        </mat-grid-list>
        <br>
        <mat-grid-list cols="2" rowHeight="5:1">
            <mat-grid-tile [rowspan]="5">
              <img src="../../assets/AdrienClerbois.jpg" style="height: 100%;">
            </mat-grid-tile>
            <mat-grid-tile>
              Adrien Clerbois
            </mat-grid-tile>
            <mat-grid-tile>
              Microsoft MVP
            </mat-grid-tile>
            <mat-grid-tile>
              Github: <a href="https://github.com/aclerbois">@aclerbois</a>
            </mat-grid-tile>
            <mat-grid-tile>
              Website: <a href="https://www.aclerbois.be/">Blog</a>
            </mat-grid-tile>
            <mat-grid-tile>
              Twitter: <a href="https://twitter.com/AClerbois">@AClerbois</a>
            </mat-grid-tile>
          </mat-grid-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          15:05
        </mat-panel-title>
        <mat-panel-description>
          Let's go for a Quest in a wood: portable VR
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile [rowspan]="5">
            <img src="../../assets/EloiStree.jpg" style="height: 100%;">
          </mat-grid-tile>
          <mat-grid-tile>
            Eloi Stree
          </mat-grid-tile>
          <mat-grid-tile>
            Freelance
          </mat-grid-tile>
          <mat-grid-tile>
            Github: <a href="https://github.com/eloistree">@EloiStree</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Website: <a href="eloistree.com">blog</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Twitter: <a href="https://twitter.com/EloiStree">@EloiStree</a>
          </mat-grid-tile>
        </mat-grid-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          15:40
        </mat-panel-title>
        <mat-panel-description>
          Break
        </mat-panel-description>
      </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          15:50
        </mat-panel-title>
        <mat-panel-description>
          Master the power of git in VSCode
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile [rowspan]="5">
            <img src="../../assets/OlivierLeplus.jpg" style="height: 100%;">
          </mat-grid-tile>
          <mat-grid-tile>
            Olivier Leplus
          </mat-grid-tile>
          <mat-grid-tile>
            Developer Relations Manager at Microsoft
          </mat-grid-tile>
          <mat-grid-tile>
            Github: <a href="https://github.com/tagazok">@tagazok</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Twitter: <a href="https://twitter.com/olivierleplus">@olivierleplus</a>
          </mat-grid-tile>
        </mat-grid-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          16:25
        </mat-panel-title>
        <mat-panel-description>
          LauRA et sa tarte aux framboises
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile [rowspan]="5">
            <img src="../../assets/FrançoisBayard.png" style="height: 100%;">
          </mat-grid-tile>
          <mat-grid-tile>
            François Bayart
          </mat-grid-tile>
          <mat-grid-tile>
            Makers Lab Mons
          </mat-grid-tile>
          <mat-grid-tile>
            Github: <a href="https://github.com/frbayart">@frbayart</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Website: <a href="https://www.famipow.com/">Blog</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Twitter: <a href="https://twitter.com/frbayart">@frbayart</a>
          </mat-grid-tile>
        </mat-grid-list>
        <br>
        <mat-grid-list cols="2" rowHeight="5:1">
            <mat-grid-tile [rowspan]="5">
              <img src="../../assets/JulienFontaine.png" style="height: 100%;">
            </mat-grid-tile>
            <mat-grid-tile>
              Julien Fontaine
            </mat-grid-tile>
            <mat-grid-tile>
              Makers Lab Mons
            </mat-grid-tile>
            <mat-grid-tile>
              Github: <a href="https://github.com/JulienFontaine">@JulienFontaine</a>
            </mat-grid-tile>
            <mat-grid-tile>
              Website: <a href="https://www.julienfontaine.be/">Site</a>
            </mat-grid-tile>
            <mat-grid-tile>
              Twitter: <a href="https://twitter.com/jihefff">@jihefff</a>
            </mat-grid-tile>
          </mat-grid-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          17:00
        </mat-panel-title>
        <mat-panel-description>
          Break
        </mat-panel-description>
      </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          17:10
        </mat-panel-title>
        <mat-panel-description>
          Tous dehors ! On passe votre projet VR sur Hololens
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile [rowspan]="5">
            <img src="../../assets/FredericCarbonnelle.jpg" style="height: 100%;">
          </mat-grid-tile>
          <mat-grid-tile>
            Frédéric Carbonnelle
          </mat-grid-tile>
          <mat-grid-tile>
            Developer Evangelist at micbelgique
          </mat-grid-tile>
          <mat-grid-tile>
            Twitter: <a href="https://twitter.com/fcarbonnelle">@fcarbonnelle</a>
          </mat-grid-tile>
        </mat-grid-list>
        <br>
        <mat-grid-list cols="2" rowHeight="5:1">
            <mat-grid-tile [rowspan]="5">
              <img src="../../assets/AntonyRizziteli.png" style="height: 100%;">
            </mat-grid-tile>
            <mat-grid-tile>
              Antony Rizzitelli
            </mat-grid-tile>
            <mat-grid-tile>
              Developer
            </mat-grid-tile>
            <mat-grid-tile>
              Github: <a href="https://github.com/Upd4ting">@Upd4ting</a>
            </mat-grid-tile>
          </mat-grid-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          17:45
        </mat-panel-title>
        <mat-panel-description>
          BlockChain For Good
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile [rowspan]="5">
            <img src="../../assets/SteveDegosserie.jpeg" style="height: 100%;">
          </mat-grid-tile>
          <mat-grid-tile>
            Steve Degosserie
          </mat-grid-tile>
          <mat-grid-tile>
            mi8 & block0 Founder
          </mat-grid-tile>
          <mat-grid-tile>
            Github: <a href="https://github.com/stiiifff">@stiiifff</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Website: <a href="http://block0.io/">Block0</a>
          </mat-grid-tile>
          <mat-grid-tile>
            Twitter: <a href="https://twitter.com/stiiifff">@stiiifff</a>
          </mat-grid-tile>
        </mat-grid-list>
  </mat-expansion-panel>
</mat-accordion>
