<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Authorities
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        Fire department & medical : <a href="tel:+32112" style="color: black">112</a>
      </mat-list-item>
      <mat-list-item>
        Police: <a href="tel:+32101" style="color: black">101</a>
      </mat-list-item>
      <mat-list-item>
        General: <a href="tel:+32112" style="color: black">112</a>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        MIC - organisators : practical informations
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        A question about dev, coach, projects?
      </mat-list-item>
      <mat-list-item>
        Fred : <a href="tel:+32479889329" style="color: black">0479889329</a>
      </mat-list-item>
      <mat-list-item>
        Thomas: <a href="tel:+32488233316" style="color: black">0488233316</a>
      </mat-list-item>
      <mat-list-item>
        Nathan: <a href="tel:+32472564525" style="color: black">0472564525</a>
      </mat-list-item>
      <mat-list-item>
        A question about logistic?
      </mat-list-item>
      <mat-list-item>
        Laila: <a href="tel:+32497556236" style="color: black">0497556236</a>
      </mat-list-item>
      <mat-list-item>
        A question about communication?
      </mat-list-item>
      <mat-list-item>
        Laura: <a href="tel:+32495340726" style="color: black">0495340726</a>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
