<button mat-button style="width: 25%;background-color: #61a653;color: white" *ngIf="!this.isThursday" (click)="this.change(0)">Thursday</button>
<button mat-button style="width: 25%;background-color: white;color: #61a653" *ngIf="this.isThursday">Thursday</button>
<button mat-button style="width: 25%;background-color: #61a653;color: white" *ngIf="!this.isFriday" (click)="this.change(1)">Friday</button>
<button mat-button style="width: 25%;background-color: white;color: #61a653" *ngIf="this.isFriday">Friday</button>
<button mat-button style="width: 25%;background-color: #61a653;color: white" *ngIf="!this.isSaturday" (click)="this.change(2)">Saturday</button>
<button mat-button style="width: 25%;background-color: white;color: #61a653" *ngIf="this.isSaturday">Saturday</button>
<button mat-button style="width: 25%;background-color: #61a653;color: white" *ngIf="!this.isSunday" (click)="this.change(3)">Sunday</button>
<button mat-button style="width: 25%;background-color: white;color: #61a653" *ngIf="this.isSunday">Sunday</button>
<mat-accordion *ngIf="this.isThursday">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        18:00
      </mat-panel-title>
      <mat-panel-description>
        Reception of the festival and installation at the campsite
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        20:00
      </mat-panel-title>
      <mat-panel-description>
        Presentation of the projects by the MIC
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion *ngIf="this.isFriday">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        07:00
      </mat-panel-title>
      <mat-panel-description>
        Bike ride
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        08:00 - 09:00
      </mat-panel-title>
      <mat-panel-description>
        Breakfast
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        09:30
      </mat-panel-title>
      <mat-panel-description>
        Running above 5km(moderate speed). Start from the bar
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        09:30 - 12:30
      </mat-panel-title>
      <mat-panel-description>
        Meeting with the project leaders
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        13:00 - 19:00
      </mat-panel-title>
      <mat-panel-description>
        Technical talks
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        19:00
      </mat-panel-title>
      <mat-panel-description>
        Concert of Pavel & Aerosnop
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion *ngIf="this.isSaturday">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        08:00 - 9:30
      </mat-panel-title>
      <mat-panel-description>
        Breakfast and launch of the second coding day
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        09:30
      </mat-panel-title>
      <mat-panel-description>
        Running above 5km(moderate speed). Start from the bar
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        13:00 - 19:00
      </mat-panel-title>
      <mat-panel-description>
        Technical talks
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        17:00
      </mat-panel-title>
      <mat-panel-description>
        Visit of the agro-ecological domain. Start from the bar
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        18:00 - 20:30
      </mat-panel-title>
      <mat-panel-description>
        Barbecue offered to the participants
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        20:30
      </mat-panel-title>
      <mat-panel-description>
        Outdoor cinema session
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion *ngIf="this.isSunday">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        08:00 - 9:30
      </mat-panel-title>
      <mat-panel-description>
        Breakfast
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        12:00
      </mat-panel-title>
      <mat-panel-description>
        Developement of the stands
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        13:00
      </mat-panel-title>
      <mat-panel-description>
        Drink offered by Delaware
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        13:45
      </mat-panel-title>
      <mat-panel-description>
        Group picture
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        14:00 - 18:00
      </mat-panel-title>
      <mat-panel-description>
        Innovation fair
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
