<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list role="list">
            <mat-list-item role="listitem">
              <button mat-button class="btnMenuList" (click)="drawer.toggle()" [routerLink]="['']">Home</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button class="btnMenuList" (click)="drawer.toggle()" [routerLink]="['/map']">Map</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button class="btnMenuList" (click)="drawer.toggle()" [routerLink]="['/teams']">Teams</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button class="btnMenuList" (click)="drawer.toggle()" [routerLink]="['/photo']">Add your photos!</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button class="btnMenuList" (click)="drawer.toggle()" [routerLink]="['/speakers']">Speakers</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button class="btnMenuList" (click)="drawer.toggle()" [routerLink]="['/profile']">Profile</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-raised-button style="width: 100%" color="warn" (click)="drawer.toggle()" [routerLink]="['/problem']">Info?</button>
            </mat-list-item>
          </mat-list>
          <a href="https://github.com/micbelgique/EventOrganizer"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" id="imgGithub"></a>
    </mat-drawer>
    <div class="example-sidenav-content">
      <mat-toolbar style="height: 7vh;">
        <mat-toolbar-row>
          <span>
              <button class="btnMenu" type="button" mat-button (click)="drawer.toggle()">
                  <i class="material-icons">menu</i>
              </button>
          </span>
          <span class="example-spacer"></span>
          <img src="../assets/LogoFinalGreen.png" style="height: 90%">
          <span class="example-spacer"></span>

        </mat-toolbar-row>
      </mat-toolbar>
      <mat-card class="matCardApp">
        <router-outlet>
          <notifier-container></notifier-container>
        </router-outlet>
      </mat-card>
    </div>

  </mat-drawer-container>
