.app {
  position: relative;
}
.vid {
  position: relative;
  height: 90vh;
  z-index: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.num {
  position:absolute;
  top:20%;
  left:44%;
  z-index:1;
  font-size: 40vh;
  color: purple;
}
.btnPic {
  position: absolute;
  top:85%;
  left:45%;
  z-index: 2;
}
#canvas {
  position: absolute;
  top:20%;
  display: none;
}
.imgPic {
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 20%;
}
